// VARIABLES

:root {
  --gold: #F1B82D;
  --lightgray: #DBD5CD;
}

// typefaces
// font-family: 'Oswald', sans-serif;
// font-family: 'Lora', serif;

* {
  ::-moz-selection { 
    background: var(--gold);
  }
  
  ::selection {
    background: var(--gold);
  }
}

a {
  text-decoration: none;
}

header {
  & div {
    background: #000;
    margin: 0 auto;
  }
}

html {
  border-top: 1rem solid var(--gold);
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h1 {
  color: #FFF;
  font-family: 'Oswald', 'Helvetica', sans-serif;
  margin: 0 auto;
  padding: 1rem 2rem;

  &:hover {
    color: var(--lightgray);
  }
}

h2, h3, h4 {
  border-bottom: 0.25rem solid var(--gold);
  color: #FFF;
  font-family: 'Oswald', 'Helvetica', sans-serif;
  margin: 0 auto;
  padding: 0 2rem 1rem;

  &:hover {
    color: var(--lightgray);
  }
}

tbody {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-link {
  color: #FFF;
  font-family: 'Oswald', 'Helvetica', sans-serif;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom: 0.5rem solid var(--gold);
    color: var(--gold);
  }
}

.text-link {
  border: none;
  color: #000;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;

  &:hover {
    border: none;
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: row;
}

p {
  font-family: 'Lora', sans-serif;
  color: #000;
  line-height: 1.75;
}

span {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
}

section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.copy  {
  padding: 2rem;
  justify-content: flex-start;
  width: 100%;

  & td {
    
    &:nth-of-type(1) {
      align-items: center;
      background: var(--gold);
      box-shadow: 0px 1px 5px 0px #000;
      color: #000;
      display: flex;
      flex-wrap: wrap;
      font-family: 'Oswald', 'Helvetica', sans-serif;
      justify-content: center;
      letter-spacing: 0.125rem;
      padding: 0.5rem;
      text-align: center;
      width: 100%;
    }

    &:nth-of-type(2) {
      font-weight: 600;
    }

    &:not(:nth-of-type(1)) {
      align-items: center;
      background: transparent;
      color: #000;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-family: 'Lora', 'Helvetica', sans-serif;
      justify-content: center;
      padding: 0 10%;
    }
  }
}

nav ul {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 1rem;

  & li {
    padding: 0.5rem 1rem;
  }
}

footer {
  & .outer-bar {
    background: black;
    height: 7rem;
  }

  & .inner-bar {
    background: #F1B82D;
    height: 0.25rem;
  }
}

figure {
  margin: 1.125rem 0 0 0;
}

tr {
  border: 1px solid #000;
  box-shadow: 0px 2px 13px 0px #C0C0C0;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 14rem;
  margin-bottom: 2rem;
  width: 11rem;
}

@media(max-width:450px) {
  .image {
    width: auto;
  }

  main {
    flex-direction: column;
  }

  .copy {
    margin: 0 auto 0.5rem;
    padding: 0;
    width: 90%;
  }

  h1 {
    color: var(--gold);
  }

  nav ul {

  }

  section {
    & img {
      height: 30rem;
    }
  }
}
