// VARIABLES

:root {
  --gold: #F1B82D;
  --lightgray: #DBD5CD;
}

// typefaces
// font-family: 'Rambla', sans-serif;
// font-family: 'Lora', serif;

html {
  border-top: 1rem solid var(--gold);
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h1, h2, h3, h4 {
  border-bottom: 0.25rem solid var(--gold);
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 0 auto;
  padding: 0.5rem 0 0.5rem 2rem;

  &:hover {
    color: #DBD5CD;
  }
}

.button-link {
  color: white;
  font-family: 'Oswald';
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom: 0.6rem solid var(--gold);
    color: var(--gold);
  }
}

.text-link {
  border: none;
  color: black;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;

  &:hover {
    border: none;
    text-decoration: underline;
  }
}

div {
  background: black;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: row;
}

p {
  font-family: 'Lora', sans-serif;
  color: black;
}

span {
  font-size: 1.5rem;
  font-weight: 500;
}

section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  & img {
    object-fit: cover;
  }
}

.copy  {
  padding: 2rem;
  justify-content: space-evenly;
  width: 100%;
}

nav ul {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0 0.5rem 0;
}

footer {
  & .outer-bar {
    background: black;
    height: 7rem;
  }

  & .inner-bar {
    background: #F1B82D;
    position: relative;
    height: 0.25rem;
    bottom: -4rem;
  }
}

@media(max-width:450px) {

  .copy {
    width: auto;
  }
  
  .image {
    width: auto;
  }

  main {
    flex-direction: column;
  }

  .copy {
    margin: 0 auto 0.5rem;
    padding: 0;
    width: 90%;
  }

  nav ul {
    padding: 0.5rem;
  }
}


