// VARIABLES
:root {
  --gold: #F1B82D;
  --lightgray: #DBD5CD;
}

#wpcf7-f66-p18-o1 {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  color: #FFF;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
  align-items: center;
}

label {
  color: #FFF;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.125rem;
  line-height: 2;
  padding: 0.5rem;

  & input[type="radio"] {
    font-size: 1rem;
    margin: 0.5rem;
  } 
}

.wpcf7-radio {
  display: flex;
  flex-direction: column;

  & label {
    justify-content: center;
    align-items: center;
  }
}

textarea {
  font-size: 1.5rem;
  height: 6rem;
  overflow: scroll;
  padding: 0.5rem;
  width: 80%;
}

.wpcf7-form-control-wrap {
  & input {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0.25rem;
    width: 97%;
  }
}

.wpcf7-submit {
  background-color: #F1B82D;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

* {
  font-family: 'Archivo', monospace;

  ::-moz-selection { 
    background: var(--gold);
  }
  
  ::selection {
    background: var(--gold);
  }
}

.editor-content-section {
  & a {
    text-decoration: none;
    color: inherit;
  
    &:hover {
      background: rgba(240, 185, 45, 0.7);
      text-decoration: underline;
    }
  }
}

header {
  & div {
    background: #000;
    margin: 0 auto;
  }
}

html {
  border-top: 1rem solid var(--gold);
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h1 {
  color: #FFF;
  margin: 0 auto;
  padding: 1rem 2rem;

  &:hover {
    color: var(--lightgray);
  }
}

h2, h3, h4 {
  border-bottom: 0.25rem solid var(--gold);
  color: #FFF;
  margin: 0 auto;
  padding: 0 2rem 1rem;

  &:hover {
    color: var(--lightgray);
  }
}

tbody {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-link {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-bottom: 0.5rem solid var(--gold);
    color: var(--gold);
  }
}

.text-link {
  border: none;
  color: #000;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;

  &:hover {
    border: none;
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: row;
}

p {
  color: #000;
  line-height: 2;
}

form p {
  align-items: start;
  display: flex;
  flex-direction: column;  
  line-height: 1;
}

#header-title-link {
  color: #FFF;
  line-height: 1.5;
  text-decoration: none;

  & span {
    display: block;
    font-size: 1.5rem;
  }
}

section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 50%;

  & img {
    align-items: flex-start;
    max-height: 100vh;
    object-fit: cover;
  }
}

.page-header {
  color: #000;

  &:hover {
    color: #000;
  }
}

.copy  {
  padding: 0 2rem;
  justify-content: flex-start;

  & td {
    
    &:nth-of-type(1) {
      align-items: center;
      background: rgba(240, 185, 45, 0.7);
      box-shadow: 0px 1px 5px 0px #000;
      color: #000;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.25rem;
      height: 5rem;
      justify-content: center;
      letter-spacing: 0.125rem;
      line-height: 2;
      padding: 0.5rem;
      text-align: center;
      width: 100%;
    }

    &:nth-of-type(2) {
      font-weight: 600;
    }

    &:not(:nth-of-type(1)) {
      align-items: center;
      background: transparent;
      color: #000;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 10%;
    }
  }
}

nav ul {
  align-items: center;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 1rem 1rem 0;

  & li {
    padding: 0.5rem 1rem;
  }
}

footer {
  & .outer-bar {
    background: black;
    height: 7rem;
  }

  & .inner-bar {
    background: #F1B82D;
    height: 0.25rem;
  }
}

figure {
  margin: 1.125rem 0 0 0;
}

tr {
  border: 1px solid #000;
  box-shadow: 0px 2px 13px 0px #C0C0C0;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  min-height: 14rem;
  margin-bottom: 2rem;
  width: 11rem;
}



@media(max-width:550px) {
  .image {
    width: auto;
  }

  main {
    flex-direction: column;
  }

  .copy {
    margin: 0 auto 0.5rem;
    padding: 0;
    width: 90%;
  }

  .button-link {
    color: #F1B82D;
  }

  nav ul {
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  section {
    & img {
      height: 30rem;
    }
  }
}
